<nav id="navbar-main"
	class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
	<div class="container">
		<a class="mr-lg-5" [routerLink]="['/search']">
			<h1 class="text-white"><b class="text-white">Open</b><span style="font-size: 20px;">Classifieds</span>
			</h1>
		</a>
		<button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
			[attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
			<div class="navbar-collapse-header">
				<div class="row">
					<div class="col-6 collapse-brand">
						<a [routerLink]="['/home']">
							<h1><b>Open</b><span style="font-size: 20px;">Classifieds</span></h1>
						</a>
					</div>
					<div class="col-6 collapse-close">
						<button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
							[attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
							<span></span>
							<span></span>
						</button>
					</div>
				</div>
			</div>
			<ul class="navbar-nav navbar-nav-hover align-items-lg-center">
				<li class="nav-item dropdown">
					<a class="nav-link no-caret" data-toggle="dropdown" role="button">
						<i class="ni ni-collection d-lg-none"></i>
						<span class="nav-link-inner--text">Resources</span>
					</a>
					<div class="dropdown-menu">
						<a [routerLink]="['/search']" class="dropdown-item">Search Classifieds</a>
						<a [routerLink]="['/search-history']" class="dropdown-item">Search History</a>
						<a [routerLink]="['/about']" class="dropdown-item">About</a>
					</div>
				</li>
			</ul>
			<ul class="navbar-nav align-items-lg-center ml-lg-auto">
				<li class="nav-item">
					<a class="nav-link nav-link-icon" href="https://twitter.com/flannelware" target="_blank"
						data-toggle="tooltip" title="Follow us on Twitter">
						<i class="fa fa-twitter-square"></i>
						<span class="nav-link-inner--text d-lg-none">Twitter</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav-link-icon" href="https://github.com/flannelware" target="_blank"
						data-toggle="tooltip" title="Star us on Github">
						<i class="fa fa-github"></i>
						<span class="nav-link-inner--text d-lg-none">Github</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>